<header>
<div class="circular">
<h1>fini</h1>
</div>
</header>


<embed src="path/to/background.mp3" autostart="true" loop="true" hidden="true"><embed>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Begin time</th>
      <th>End time</th>
      <th>Check box</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.title %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.date %></td>
        
        
        <td><%= todo_item.begin_time.strftime("%I:%M %p") %></td>
        <td ><%= todo_item.end_time.strftime("%I:%M %p") %></td>
        <%= hidden_field_tag(todo_item.id, todo_item.end_time.strftime("%I:%M %p") )%>
        <div id="countdown"></div>
        
        <td><div class="checkbox"><label><input type="checkbox"><%= todo_item.check_box %></label></div></td>
        <td><%= distance_of_time_in_words(todo_item.begin_time, todo_item.end_time) %></td>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Delete', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        <script type="text/javascript">
          $(document).on("ready page:load", function() {

            // Time Format '2015/01/01' 

            $('#<%= todo_item.id%>').countdown('<%= todo_item.end_time.strftime("%Y/%m/%d %I:%M:%S") %>', function(event) {
              $(this).next().html(event.strftime('%w weeks %d days %H:%M:%S'));
            })



            ;
          })
        </script>
      </tr>
    <% end %>
  </tbody>
</table>




<br>

<%= link_to 'New Todo item', new_todo_item_path %>
