<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_item.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @todo_item.date %>
</p>

<p>
  <strong>Begin time:</strong>
  <%= @todo_item.begin_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @todo_item.end_time %>
</p>

<p>
  <strong>Check box:</strong>
  <%= @todo_item.check_box %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
